@use '../abstracts/colors' as c;

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  padding: 1rem;
  background-color: c.$color-bg-alt;
}

.inside_links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;

  a {
    color: c.$color-text-alt;
    padding: 1rem 1rem;
    display: block;
  }
}
