.searchBar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1.6rem;
  width: 100%;
  border: 1px solid black;
}

.searchBar {
  margin-right: 1rem;
  width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
