.searchBar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 1.5rem;
  // margin: 0 auto;
  margin-left: auto;
  font-size: 1.6rem;
  border: 1px solid black;

  button[type=submit] {
    background: transparent;
    border: none;
    color: white;
  }
  button:hover {
    cursor: pointer;
  }
}

.searchBar {
  margin-right: 1rem;
  padding: 1rem;
  width: 100%;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
