.categories__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;

  ul {
    list-style: none;
  }
}

.categories__links {
  display: block;
  margin: 2rem 0rem;
}
