// @import "node_modules/nord/src/sass/nord.scss";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
$color-bg: white;
$color-bg-alt: black;
$color-text: black;
$color-text-alt: white;

html {
  font-size: 10px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: $color-bg;
  color: $color-text;
  margin: 0;
}

header {
  background-color: $color-bg-alt;
  display: flex;
  align-items: center;

  .title_container {
    // border: 1px yellow solid;
    margin-right: auto;
    margin-left: 1rem;

    a {
      display: block;
      text-decoration: none;
      color: $color-text-alt;
      font-size: 3rem;
      text-align: center;
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-size: 2.5rem;
    padding: 1rem;

    .inside_links {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      // margin-right: 1rem;

      li {
        a {
          color: $color-text-alt;
          text-decoration: none;
          padding: 1rem 1rem;
          display: block;
          background-color: $color-bg-alt;
        }
        a:hover {
          color: $color-text-alt;
        }
      }
    }
    .outside_links {
      list-style-type: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      margin-left: 1rem;
      padding: 0;
      li {
        a {
          display: block;
          color: $color-text-alt;
          text-decoration: none;
          padding: 1rem 1rem;
          background-color: $color-bg-alt;
        }
        a:hover {
          color: $color-text-alt;
        }
      }
    }
  }
}
